<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <ul>
    <% for(let url in urls){ %>
      <li> <%= url %> &rarr; <%= urls[url] %> <a href="/urls/<%= url %>">Edit</a> <form style="display:inline" method="POST" action=<%=`/urls/${url}/delete`%>><button>Delete</button></form> </li>
       <% } %>
  </ul>
</body>
</html>