<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortened URL</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <ul>
      <li> <%=  longURL %> || <%= shortURL %> </li>
  </ul>
</body>
</html>