<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortened URL</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <div>
     <p> <b>ShortURL</b> : <%= shortURL %> </p>
     <p><form method="post" action="/urls/<%= shortURL %>">
      <input name="longURL" type="text" value="<%= longURL %>" style="width:300px">
      <button>Update</button>
     </form>
    </p>
  </div>
</body>
</html>